.comments {
  display: flexbox;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 100%;
  margin: 0 0 20px 0;
  border-radius: 6px;
}

.middleSpace {
  width: 80%;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}
