.headerHeader {
  display: flex;
  height: 75px;
  font-weight: bold;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 5px;
}
.headerTitle {
  width: 30%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerMenu {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

/* .headerButton {
  background-color: black;
  border-color: black;
  color: white;
}
.headerButton:hover {
  background-color: gold;
  border-color: black;
  color: black;
}

.headerButtonLight {
  background-color: white;
  border-color: rgb(217, 217, 217);
  color: black;
}
.headerButtonLight:hover {
  background-color: gold;
  border-color: gold;
  color: black;
} */

.breadcrumb {
  display: "flex";
  max-height: "50px";
}

.breadcrumb.span {
  display: flex;
  justify-content: center;
  align-items: center;
}
