.comments {
  display: flexbox;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.card {
  width: 100%;
  margin: 0 0 20px 0;
  border-radius: 6px;
  padding: 0 0 24px 0;
}
